/*
	Theme Name: HTML5 Blank
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
/*------------------------------------*\
    LESS VARIABLES
\*------------------------------------*/
.color-accent_bg {
  background-color: #e7b16b;
  color: #fcf0e7;
  transition: all 0.25s;
}
.color-accent_bg.trans {
  background-color: rgba(231, 177, 107, 0.9);
}
.color-accent_bg.trans_heavy {
  background-color: rgba(231, 177, 107, 0.5);
}
.color-accent_bg.trans_heavy:hover,
.color-accent_bg.trans_heavy:focus {
  background-color: #e7b16b;
  opacity: 1;
}
.color-accent_bg.trans:hover,
.color-accent_bg.trans:focus {
  background-color: #e7b16b;
  opacity: 1;
}
.color-accent_bg a {
  color: #fcf0e7;
  transition: all 0.25s;
}
.color-accent_bg a:hover,
.color-accent_bg a:focus {
  color: #fff0e4;
}
.color-light_bg {
  background-color: #fcf0e7;
  color: #0e113b;
  transition: all 0.25s;
}
.color-light_bg.trans {
  background-color: rgba(252, 240, 231, 0.9);
}
.color-light_bg.trans_heavy {
  background-color: rgba(252, 240, 231, 0.5);
}
.color-light_bg.trans_heavy:hover,
.color-light_bg.trans_heavy:focus {
  background-color: #fcf0e7;
  opacity: 1;
}
.color-light_bg.trans:hover,
.color-light_bg.trans:focus {
  background-color: #fcf0e7;
  opacity: 1;
}
.color-light_bg a {
  color: #0e113b;
  transition: all 0.25s;
}
.color-light_bg a:hover,
.color-light_bg a:focus {
  color: #070b42;
}
.color-dark_bg {
  background-color: #0e113b;
  color: #fcf0e7;
  transition: all 0.25s;
}
.color-dark_bg.trans {
  background-color: rgba(14, 17, 59, 0.9);
}
.color-dark_bg.trans_heavy {
  background-color: rgba(14, 17, 59, 0.5);
}
.color-dark_bg.trans_heavy:hover,
.color-dark_bg.trans_heavy:focus {
  background-color: #0e113b;
  opacity: 1;
}
.color-dark_bg.trans:hover,
.color-dark_bg.trans:focus {
  background-color: #0e113b;
  opacity: 1;
}
.color-dark_bg a {
  color: #fcf0e7;
  transition: all 0.25s;
}
.color-dark_bg a:hover,
.color-dark_bg a:focus {
  color: #fff0e4;
}
/*------------------------------------*\
    FONTS
\*------------------------------------*/
@font-face {
  font-family: 'crimson_textbold';
  src: url('../fonts/crimsontext-bold-webfont.eot');
  src: url('../fonts/crimsontext-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/crimsontext-bold-webfont.woff2') format('woff2'), url('../fonts/crimsontext-bold-webfont.woff') format('woff'), url('../fonts/crimsontext-bold-webfont.ttf') format('truetype'), url('../fonts/crimsontext-bold-webfont.svg#crimson_textbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textitalic';
  src: url('../fonts/crimsontext-italic-webfont.eot');
  src: url('../fonts/crimsontext-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/crimsontext-italic-webfont.woff2') format('woff2'), url('../fonts/crimsontext-italic-webfont.woff') format('woff'), url('../fonts/crimsontext-italic-webfont.ttf') format('truetype'), url('../fonts/crimsontext-italic-webfont.svg#crimson_textitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'crimson_textroman';
  src: url('../fonts/crimsontext-regular-webfont.eot');
  src: url('../fonts/crimsontext-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/crimsontext-regular-webfont.woff2') format('woff2'), url('../fonts/crimsontext-regular-webfont.woff') format('woff'), url('../fonts/crimsontext-regular-webfont.ttf') format('truetype'), url('../fonts/crimsontext-regular-webfont.svg#crimson_textroman') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: 'crimson_textroman';
  color: #0e113b;
  height: 100%;
}
h1,
h2,
h3 {
  font-family: 'crimson_textitalic';
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
}
/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  color: #0e113b;
  text-decoration: none;
  font-family: 'crimson_textbold';
  transition: all 0.25s;
}
a:focus {
  outline: 0;
}
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}
input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}
p {
  max-width: 640px;
  margin: 0 auto;
}
.block-section {
  border: 1px solid black;
  transition: width 0.25s, height 0.25s;
  padding: 25px;
}
.bg_cover {
  background-size: cover !important;
  background-position: center;
}
.full_height {
  height: 100%;
  overflow-y: auto;
}
.half_height {
  height: 50%;
  padding: 25px;
}
.padding_top {
  padding-top: 75px;
  padding-bottom: 10px;
}
.flex-container {
  display: flex;
}
.flex-center {
  align-items: center;
}
.mCustomScrollBox {
  margin: 0 auto;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  display: flex;
  align-items: center;
  height: 90%;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.interior_slider_half .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  display: block;
}
#video {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.scan_lines {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
}
.video_title {
  right: 10%;
  position: absolute;
  width: 90vh;
  color: #fcf0e7;
  margin-top: 0;
  text-align: center;
}
.video_title h2 {
  text-shadow: 0px 0px 2px #000000;
  font-size: 64px;
}
.free_trial {
  margin-top: 50px;
  padding: 10px;
}
.free_trial a {
  color: #e7b16b;
}
.title_logo {
  left: 10%;
  top: 40%;
  position: absolute;
}
#video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.social_icons {
  width: 75px;
}
.social_icons em {
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
.social_icons a:hover,
.social_icons a:focus {
  color: #0e113b;
}
span.wpcf7-form-control-wrap {
  position: relative;
  width: 100%;
  max-width: 100%;
}
input,
select,
textarea {
  color: #0e113b;
  max-width: 100%;
}
.title_image {
  height: 90vh;
  background-size: contain;
  background-repeat: no-repeat;
}
/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
/* wrapper */
.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.mid-wrapper {
  display: inline-block;
  width: 100%;
}
.mid-section {
  display: inline-block;
  float: left;
}
.waypoint_upper {
  display: block;
  width: 50px;
  height: 200px;
  margin-top: -200px;
  position: absolute;
}
.waypoint_lower {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  margin-top: 50%;
}
/* header */
.header {
  display: block;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 5000;
  position: fixed;
}
/* logo */
.logo {
  height: 100%;
}
.logo a {
  height: 100%;
}
.logo-img {
  max-height: 100%;
  height: 40px;
  width: 140px;
}
.logo_link {
  text-align: center;
  display: inline-block;
  padding: 5px;
  float: left;
}
.modal_text {
  font-size: 14px;
}
.four_oh_four {
  margin-top: 100px;
  text-shadow: 0px 0px 2px #000000;
}
.four_oh_four a {
  color: #fcf0e7;
}
.four_oh_four a:hover {
  color: white;
}
/* Sliders */
.interior_slider_container {
  height: 450px;
  width: 100%;
  text-align: center;
  margin-top: 35px;
}
.interior_slider_half {
  min-height: calc(50vh - 75px);
  width: 100%;
  text-align: center;
  margin-top: 45px;
}
.interior_slider img {
  max-height: 25vh;
  height: auto !important;
}
.interior_slider div {
  text-align: center;
}
.interior_slider p {
  max-width: 640px;
  margin: 0 auto;
}
.interior_slider_container .anythingSlider .arrow span {
  display: block;
  visibility: visible;
  border-radius: 50px;
  background-color: #e7b16b;
  width: 20px;
  height: 20px;
  padding-top: 0px;
  font-size: 14px;
  color: #0e113b;
  z-index: 5000;
  transition: height 0.25s, width 0.25s, padding-top 0.25s, box-shadow 0.25s, opacity 0.25s;
  opacity: 0.75;
}
.interior_slider_container .anythingSlider .arrow span:hover,
.interior_slider_container .anythingSlider .arrow span:focus {
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.thumbNav {
  margin-top: -20px !important;
  position: absolute;
}
.anythingSlider-default {
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
}
.anythingSlider-default .anythingWindow {
  border: 0px !important;
}
.section_slider_container {
  height: 100%;
}
.anythingSlider .arrow span {
  display: block;
  visibility: visible;
  background-color: #e7b16b;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding-top: 6px;
  font-size: 20px;
  transition: box-shadow 0.25s;
}
.anythingSlider-default .arrow a {
  margin: 0;
}
.anythingSlider .arrow span:hover {
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
}
.anythingSlider-default .arrow {
  position: absolute;
  display: block;
  top: 0;
  margin-top: -15px;
}
.anythingSlider-default .forward {
  right: 25px;
  z-index: 5000;
}
.anythingSlider-default .back {
  left: 25px;
  z-index: 5000;
}
article {
  min-height: 100vh;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.post_area {
  height: 100vh !important;
  width: calc(100% + 2px) !important;
  overflow: hidden;
  margin-left: -2px;
}
.post_area_1 {
  position: relative;
}
.post_area_2 {
  position: relative;
}
.buy_now {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px;
  border-color: #e7b16b transparent transparent transparent;
  left: 17px;
  top: 50px;
  position: fixed;
  z-index: 10000;
  -webkit-filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.7));
  -moz-filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.7));
}
.buy_now_text_container {
  position: relative;
}
.buy_now_text a {
  font-family: crimson_textitalic;
  position: absolute;
  margin-left: -25px;
  margin-top: -46px;
  width: 60px;
}
.modal-backdrop {
  position: relative;
}
.modal-content {
  min-height: 70vh;
}
.modal-body {
  overflow: auto;
}
.modal-body .col-xs-12 {
  overflow: auto;
  margin-top: 20px;
}
div.wpcf7-validation-errors {
  display: inline:block;
  color: red;
}
/* nav */
ul.dropdown-menu ul.dropdown-menu {
  display: inline-block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #0e113b;
  color: #fcf0e7;
}
.nav_area {
  width: calc(100% - 225px);
  float: left;
}
/* sidebar */
/* Contact */
.wpcf7-submit {
  background-color: #e7b16b;
  color: #0e113b;
  border: 0;
  padding: 10px;
  width: 100px;
  transition: all 0.25s;
  font-family: 'crimson_textbold';
}
.wpcf7-submit:hover,
.wpcf7-submit:focus {
  background-color: #fcf0e7;
  color: #0e113b;
}
input {
  transition: border 0.25s;
  border: 1px solid transparent;
}
input:focus {
  border: 1px solid #e7b16b;
}
input,
select,
textarea {
  color: #0e113b;
}
.close {
  color: #fcf0e7;
}
div.wpcf7-validation-errors {
  border: 0px solid #f7e700;
}
/* footer */
/* Animations */
.testbox {
  width: 150px;
  height: 200px;
}
.category_trigger {
  opacity: 0.2;
}
.trigger_active {
  opacity: 1;
}
.category_trigger h1 {
  opacity: 0.2;
  transition: all 2.5s;
}
.category_trigger.trigger_active h1 {
  opacity: 1;
}
.fade {
  opacity: 1 !important;
}
.trail {
  background-image: url('../img/trail_dot.png');
  position: absolute;
  height: 100%;
  background-repeat: repeat-y;
  width: 50px;
  top: 0;
}
.mobile_shrink .trail {
  left: 25%;
}
.mobile_grow .trail {
  display: none;
}
.mobile_grow_half .trail {
  display: none;
}
.social_icons.social_footer {
  width: 100%;
}
/*------------------------------------*\
    PAGES
\*------------------------------------*/
/*------------------------------------*\
    IMAGES
\*------------------------------------*/
/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/
@font-face {
  font-family: 'Font-Name';
  src: url('fonts/font-name.eot');
  src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'), url('fonts/font-name.woff') format('woff'), url('fonts/font-name.ttf') format('truetype'), url('fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 100px auto;
  }
}
@media only screen and (max-width: 768px) {
  .post_area {
    height: auto !important;
    min-height: 90vh;
  }
  article {
    min-height: 100vh;
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .header.color-accent_bg {
    background-color: #e7b16b;
    height: auto;
  }
  .category_trigger {
    opacity: 0.95;
  }
  .mobile_grow.flex-center .mCustomScrollBox {
    display: inline-block;
    align-items: center;
    width: 100%;
  }
  .mobile_grow.flex-center .mCustomScrollBox .mCSB_container {
    display: inline-block;
    align-items: center;
    width: 100%;
  }
  .mobile_grow {
    height: auto;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    min-height: 90vh;
  }
  .mobile_grow_half {
    height: auto;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    min-height: 90vh;
  }
  .mobile_shrink {
    height: 0%  !important;
    display: none;
  }
  .category_trigger h1 {
    opacity: 0.9;
    transition: all 2.5s;
    text-align: center;
    font-size: 36px;
  }
  .trail {
    display: none;
  }
  .title_logo {
    right: auto;
    left: calc(50% - 100px);
    top: 20%;
    width: 200px;
    text-align: center;
  }
  .anythingSlider-default .arrow {
    top: 0%;
  }
  .wpcf7-submit {
    background-color: #e7b16b;
    color: #0e113b;
    border: 0;
    padding: 10px;
    width: 100px;
    margin-top: 0px;
  }
  .nav_area {
    width: calc(100% - 265px);
    float: left;
  }
  .social_icons {
    width: 110px;
  }
  .modal-dialog {
    margin-top: 60px;
  }
  .interior_slider_half {
    min-height: calc(100vh - 85px);
    width: 100%;
    text-align: center;
    margin-top: 35px;
  }
  .interior_slider_half .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    display: block;
    align-items: center;
    height: 90%;
    justify-content: center;
  }
}
@media only screen and (max-width: 960px) {
  .video_title {
    right: auto;
    margin: 10% auto;
    top: 5%;
    text-align: center;
    width: 100%;
    position: relative;
  }
  .video_title h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 1140px) {
  .navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 3px;
    background-color: #fcf0e7;
  }
}
/*------------------------------------*\
    MISC
\*------------------------------------*/
::selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}
::-webkit-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}
::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}
/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
